<div class="wrap_upper">

  <div id = "player_list_div" class="playerlist"><b>Online:</b>
    <li *ngFor="let person of players">{{ person.name }} ({{ person.health }}%) </li>
  </div>

  <div id = "the_world" class="matrix">
    <b>{{ text_label_zone }} </b>
    <br><br>

<!--
    <pre class="ascii" *ngFor="let line of final_matrix"><b *ngFor="let element of line"><b
      *ngIf="element == 'ß'" style="color:darkgreen">{{element}}</b><b
      *ngIf="element == ','" style="color:Chartreuse">{{element}}</b><b
      *ngIf="element == '#'" style="color:SaddleBrown">{{element}}</b><b
      *ngIf="element == ':'" style="color:Sienna">{{element}}</b><b
      *ngIf="element == ';'" style="color:DimGray">{{element}}</b><b
      *ngIf="element == 'a'" style="color:darkgreen">{{element}}</b><b
      *ngIf="element == '*'" style="color:DarkGoldenRod">{{element}}</b><b
      *ngIf="element == '1'" style="color:blue">@</b><b
      *ngIf="element == '2'" style="color:red">@</b></b></pre>



      more elements (see below):


      *ngIf="element.v == 3" style="color:Sienna">:</b><b
      *ngIf="element.v == 2" style="color:SaddleBrown">#</b><b

      -->

    <pre class="ascii" *ngFor="let line of final_world"><b *ngFor="let element of line"><b
      *ngIf="element.v == 3" style="color:Yellow">.</b><b
      *ngIf="element.v == 2" style="color:darkgreen">a</b><b
      *ngIf="element.v == 1" style="color:darkgreen">ß</b><b
      *ngIf="element.v == 0" style="color:LimeGreen">,</b><b
      *ngIf="element.v == -1" style="color:blue">@</b><b
      *ngIf="element.v == -2" style="color:red">@</b><b
      *ngIf="element.v == -3" style="color:DimGray">;</b><b
      *ngIf="element.v == -4" style="color:DarkGoldenRod">*</b><b
      *ngIf="element.v == -5" style="color:darkgreen">a</b><b
      *ngIf="element.v == -6" style="color:SaddleBrown">@</b><b
      *ngIf="element.v == -7" style="color:black">`</b><b
      *ngIf="element.v == -8" style="color:DarkGoldenRod">n</b><b
      *ngIf="element.v == -9" style="color:GhostWhite">s</b><b
      *ngIf="element.v == -10" style="color:darkgreen">q</b><b
      *ngIf="element.v == -11" style="color:black">^</b></b></pre>



      <!--
      *ngIf="element.v == 0" style="color:Chartreuse">,</b><b
      *ngIf="element.v == 1" style="color:darkgreen">ß</b></b></pre>
-->



<!--
    <pre class="ascii" *ngFor="let line of final_matrix"><b *ngFor="let element of line"><b
      *ngIf="element == 'ß'" style="color:darkgreen"><img src="light_tree.bmp" alt="ß" style="width:16px;height:16px;"></b><b
      *ngIf="element == ','" style="color:Chartreuse"><img src="grass.bmp" alt="," style="width:16px;height:16px;"></b><b
      *ngIf="element == '#'" style="color:SaddleBrown"><img src="grass.bmp" alt="#" style="width:16px;height:16px;"></b><b
      *ngIf="element == ':'" style="color:Sienna"><img src="grass.bmp" alt=":" style="width:16px;height:16px;"></b><b
      *ngIf="element == ';'" style="color:DimGray"><img src="grass.bmp" alt=";" style="width:16px;height:16px;"></b><b
      *ngIf="element == 'a'" style="color:darkgreen"><img src="grass.bmp" alt="a" style="width:16px;height:16px;"></b><b
      *ngIf="element == '*'" style="color:DarkGoldenRod"><img src="grass.bmp" alt="*" style="width:16px;height:16px;"></b><b
      *ngIf="element == '1'" style="color:blue">@</b><b
      *ngIf="element == '2'" style="color:red">@</b></b></pre>
-->

      <!--
<div class="row">
  <div class="column">
    <img src="img_snow.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="img_forest.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
  </div>
</div> -->


  </div>

  <div id = "character" class="fright">

    <div>

      <b> {{ authentication }} </b> (position: {{ own_player_x }}, {{ own_player_y }}) <i *ngIf="blocked_timeout"> blocked </i>

      <!-- meal: {{ hunger }} -->

      <p>hp: {{ own_hp_current }} / {{ own_hp_max }}, level: {{ own_level }}, xp: {{ own_experience }}, next: {{ own_next_experience }}<br>
      strength: {{ own_strength }}, dexterity: {{ own_dexterity }}, intelligence: {{ own_intelligence }}
        <button *ngIf="own_give_points > 0" style="font-size: 8px; border-radius: 50%" (click)="onGiveStrength()">S++</button>
        <button *ngIf="own_give_points > 0" style="font-size: 8px; border-radius: 50%" (click)="onGiveDexterity()">D++</button>
        <button *ngIf="own_give_points > 0" style="font-size: 8px; border-radius: 50%" (click)="onGiveIntelligence()">I++</button>

        <br>
      armor: {{ own_armor }} + {{ own_dexterity }},
      damage: {{ own_weapon }} + {{ own_strength }} <br>
      </p>

    </div><br>

  <!--  <u>inventory</u>
    <table border="0" cellpadding="0" id="inventory_table">
      <tr><td><b>1){{Item_Type.properties[inventory_type[0]].label.toString()}}</b></td><td></td><td></td>
          <td><b>4){{Item_Type.properties[inventory_type[3]].label.toString()}}</b></td><td></td><td></td>
          <td><b>7){{Item_Type.properties[inventory_type[6]].label.toString()}}</b></td><td></td></tr>

      <tr><td><b>2){{Item_Type.properties[inventory_type[1]].label.toString()}}</b></td><td></td><td></td>
          <td><b>5){{Item_Type.properties[inventory_type[4]].label.toString()}}</b></td><td></td><td></td>
          <td><b>8){{Item_Type.properties[inventory_type[7]].label.toString()}}</b></td><td></td></tr>

      <tr><td><b>3){{Item_Type.properties[inventory_type[2]].label.toString()}}</b></td><td></td><td></td>
          <td><b>6){{Item_Type.properties[inventory_type[5]].label.toString()}}</b></td><td></td><td></td>
          <td><b>9){{Item_Type.properties[inventory_type[8]].label.toString()}}</b></td><td></td></tr>

    </table>-->
  </div>


  <div id = "lower_div" class="lower">
   <!--<p id = "skills">
      <u>skill actions:</u>

      lumber wood: {{ skill_wood_lumbering }},
      gut carcass: {{ skill_carcass_gutting }},
      pluck flower: {{ skill_flower_plucking }},
      mine ore: {{ skill_ore_mining }}
      <br>-->

      <!--
      <div *ngIf="(skill_wood_lumbering >= 10)">
        carpenter: {{ skill_wood_carpentering }},
        leatherwork: {{ skill_leather_working }},
        brew potion: {{ skill_potion_brewing }},
        mason: {{ skill_stone_masoning }}
      </div>-->

<!--
    if ((this.skill_wood_lumbering >= 10) || (this.skill_carcass_gutting >= 10) || (this.skill_flower_plucking >= 10) || (this.skill_ore_mining >= 10))
    {
      text += "&#160;&#160;&#160;&#160;&#160;&#160;&#160;";
      text += "carpenter (" + this.skill_wood_carpentering + ")&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;";
      text += "leatherwork (" + this.skill_leather_working + ")&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;";
      text += "brew potion (" + this.skill_potion_brewing + ")&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;";
      text += "mason (" + this.skill_stone_masoning + ") ";
    }-->


    <!--</p>
    <p><u>more actions:</u> walk back/forth, attack, use</p>
    <br>-->

      <div id = "zone_description">

        {{ text_zone_description }}

      </div>


      <div id = "status_messages">
        <i>{{ own_status_message }}</i>
      </div>

      <br><br>

      <button (click)="onLogout()">Logout</button>
      <button (click)="onMoveWest()">West</button>
      <button (click)="onMoveNorth()">North</button>
      <button (click)="onMoveSouth()">South</button>
      <button (click)="onMoveEast()">East</button>
      <button (click)="onDecreaseSector()">Travel back</button>
      <button (click)="onIncreaseSector()">Travel forth</button>

      <!--command: <input type="text" onkeydown="if (event.keyCode == 13) { myFunction(); return false; }" value="Your Name">-->
      command: <input type="text" [(ngModel)]="command_message" onkeydown="if (event.keyCode == 13) { onCommandSubmitted(); return false; }">
      <!--<input type="text" id="command" [(ngModel)]="command_message" placeholder="Your Name">-->
      <button (click)="onCommandSubmitted()">Submit</button>

      <br>

      <button (click)="onAttack()">Attack</button>
      <button (click)="onFood()">Food</button>

      <!-- Music -->

      <audio *ngIf="own_zone == 0" controls autoplay loop="true" volume="50" height="60" width="144">
        <source src="ireena.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

      <audio *ngIf="own_zone == 1" controls autoplay loop="true" volume="50" height="60" width="144">
        <source src="whimsical_critters.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

      <audio *ngIf="own_zone == 2" controls autoplay loop="true" volume="50" height="60" width="144">
        <source src="mists.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

      <br>
      <br>

  </div>

